.container{
    display: flex;
}
.container__img{
    width: 50%;
}
.container__right{
    width: 50%;
}

.main__header{
    padding: 1.4rem;
    text-align: end;
    margin-bottom: 7rem;
}
.header__links{
    text-decoration: none;
    color: black;

}

.header__links + .header__links{
    margin-left: 1rem;
}

.container__right__home{
    padding: 3.75em;
}

.home__title{
    font-size: 3.36rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.home__text{
    font-size: 1.2rem;
    opacity: 60%;
    margin-bottom: 4rem;
    font-weight: 400;
}

.home__button{
    width: 9rem;
    margin-left: 1rem;
    padding: 0.9rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.home__button.-bgwhite{
    border: 1px solid black;
    color: black;
    background-color: white;
}


@media screen and (max-width:900px){
    .container__img{
        height: 100vh;
    }
    .container__right__home{
        padding: 1rem;
    }
    .home__title{
        font-size: 2rem;
    }
    .home__text{
        font-size: 1rem;
    }
}

@media screen and (max-width:750px){
    .container{
        align-items: center;
        height: auto;
        flex-flow: column-reverse;
    }
    .main__header{
        text-align: center;
        margin-bottom: 3rem;
    }
    .container__img{
        height: auto;
        width: 100%;
    }
    .container__right{
        width: auto;
        text-align: center;
    }

    .home__button{
        width: 14rem;
    }
}

@media screen and (max-width:600px){
    .container{
        width: 100%;
    }

    .home__button{
        width: 90%;
        margin-bottom: 1.4rem;
    }
}
